@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100vh;
    overflow: hidden;
}
.hero {
    background-image: url('../public/bg.jpg');
    background-size: cover;
    overflow: auto;
}